body{
	background:#ececec url(../images/bg4.jpg) repeat;
	font-size:87.5%;
	font-family: got;
        src: url(got.ttf);
	color:#A0A0A0;
	line-height:1.7em;
	text-align:left;
}

@font-face{
	font-family: got;
        src: url(got.ttf);
}


img {
    display: block;
    margin: 0 auto;
}

a{
	text-decoration:none;
	color:white;
}

a:hover{
	color:#A0A0A0;
}

h2{
	color:white;
	word-spacing: 5px;
}

.clr{
	clear:both;
}

#container{
	margin:0 auto;
	width:80%;
	overflow:auto;
	clear:both;
	
}

.main-header img#logo{
	margin:10px 0;
	display:block;
	width:45%;
	transition: width 2s;	
}

.main-header .main-nav{
	background:#404040;
	height:40px;
	border-radius:5px;
	border:white 1px solid;

}

.main-header .main-nav ul{
	list-style:none;
	margin:0;
	padding:0;
	

}

.main-header .main-nav li{
	float:left;
	display:inline;
	margin-right:3px;


}

.main-header .main-nav li a{
	color:#fff;
	display:inline-block;
	padding:10px 20px;
	height:20px;

}

.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
	background:#202020;
	color:white;
	border-radius:5px;

}

#content{
	overflow:auto;
	width:100%;
	float:left;
	transition: width 1s; /* animation */
}

#content article{
	border-radius:5px;
	overflow:auto;
	background:#202020;
	padding:10px 15px;
	margin-top:10px;
	word-spacing: 5px;
}

footer{
	background:#404040;
	height:40px;
	border:white 1px solid;
	border-radius:5px;
	margin-top:10px;
}

footer p{
	color:#fff;
	margin:0;
	padding:10px 0 0 0;
	text-align:center;
	word-spacing: 5px;
}

/* Start Media Queries */

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width : 768px)  and (max-width : 980px) {

	#container{
		width:95%;	
	}
	
	.main-header img#logo{
		margin:auto;
		display:block;
		width:65%;	
		transition: width 1s; /* animation */		
	}
	.main-header .main-nav{
		height:40px;
		border-radius:5px;
		border:white 1px solid;
		transition: height 1s; /* animation */
	}
	
	#content{
		overflow:auto;
		width:100%;
		float:none;
		transition: width 1s; /* animation */
	}

	
}

/* Small Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 569px) and (max-width : 767px) {
	
	#container{
		width:95%;
	}
	
	.main-header img#logo{
		margin:auto;
		display:block;
		width:65%;
		transition: width 1s; /* animation */
	}
	
	.main-header .main-nav{
		height:auto;
		border-radius:5px;
		border:white 1px solid;
		display:block;
		overflow:hidden;
		width:99%;
		transition: width 1s; /* animation */	
	}

	.main-header .main-nav ul{
		padding:2% 1%;
		text-align:center;
		width:98%;
	}

	.main-header .main-nav li{
		float:none;
		display:block;
		margin-right:0px;
		width:100%;
		border-bottom:solid white 1px;
	}

	.main-header .main-nav li a{
		margin-bottom:2px;
		text-align:center;
	}
	
	.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
		display:block;
	}
	
	#content{
		overflow:auto;
		width:99%;
		float:none;
	}
	

	
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 568px) {
	#container{
		width:95%;
	}
	
	.main-header img#logo{
		margin:auto;
		display:block;
		width:95%;
		transition: width 1s; /* animation */
	}
	
	.main-header .main-nav{
		height:auto;
		border-radius:5px;
		border:white 1px solid;
		display:block;
		overflow:hidden;
		width:99%
	}

	.main-header .main-nav ul{
		padding:2% 1%;
		text-align:center;
		width:98%;
	}

	.main-header .main-nav li{
		float:none;
		display:block;
		margin-right:0px;
		width:100%;
		border-bottom:solid white 1px;
	}

	.main-header .main-nav li a{
		margin-bottom:2px;
		text-align:center;
	}
	
	.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
		display:block;
	}
	
	#content{
		overflow:auto;
		width:100%;
		float:none;
	}
	
	
	
}

